@using System.Security.Claims;
@model BuyStuff.GE.MVC.Models.ItemModel
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor _accessor
@using System.Security.Claims;
@using System.IdentityModel.Tokens.Jwt;
@{
    ViewData["Title"] = "ViewDetails";
}

<style>
    .details-container {
        display: flex;
        flex-wrap: wrap;
    }

    .details-left {
        flex: 1;
        padding-right: 20px; 
    }

    .details-right {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .details-right img {
            max-width: 100%;
            max-height: 100%;
            border-radius: 20px;
        }

    .button-row {
        display: flex;
    }

        .button-row a {
            text-decoration: none;
        }
</style>


<div class="details-container">
    <div class="details-left">
        <hr />
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Id)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>
        </dl>
        <div>
            @{
                var handler = new JwtSecurityTokenHandler();
                var jwtTokenString = _accessor.HttpContext.Request.Cookies["jwt"];
                if (@jwtTokenString != null)
                {
                    var jwtToken = handler.ReadJwtToken(jwtTokenString);
                    Claim nameIdClaim = jwtToken.Claims.FirstOrDefault(claim => claim.Type == "nameid");
                    var itemUserId = nameIdClaim?.Value;
                    var x = _accessor.HttpContext.User.Identity as ClaimsIdentity;

                    if (itemUserId != null && Model.UserId == itemUserId)
                    {
                        <form method="post" asp-action="DeleteItem" asp-route-itemId="@Model.Id">
                            <button type="submit" style="color: white; background-color: red; padding: 10px; border-radius: 5px; margin-top: 10px">Delete Item</button>
                        </form>
                        <a asp-action="EditItem" asp-route-itemId="@Model.Id" style="color: white; background-color: green; padding: 5px; margin-top:10px; border-radius: 5px; margin-right: 5px;">Edit Item</a>
                    }
                    else
                    {
                        <button type="button" disabled style="color: white; background-color: #ff000054; padding: 10px; border-radius: 5px; margin-top: 10px">Delete Item</button>
                        <button type="button" disabled style="color: white; background-color: #65956594; padding: 10px; border-radius: 5px; margin-top: 10px">Edit Item</button>
                    }
                }
                else
                {
                    <button type="button" disabled style="color: white; background-color: #ff000054; padding: 10px; border-radius: 5px; margin-top: 10px">Delete Item</button>
                    <button type="button" disabled style="color: white; background-color: #65956594; padding: 10px; border-radius: 5px; margin-top: 10px">Edit Item</button>
                }
            }
          
        </div>

        <div class="button-row">
            <a asp-action="Index" style="color: white; background-color: gray; padding: 5px; margin-top:10px; border-radius: 5px ;margin-top:10px;">Back to List</a>
        </div>
    </div>

    <div class="details-right">
        @{
            string fullPath = Model.Images.Count > 0 && !string.IsNullOrEmpty(Model.Images[0].ImgName)
            ? "~/images/" + Model.Images[0].ImgName
            : "~/images/noimage.jpg";
        }
        <img src="@fullPath" asp-append-version="true" />
    </div>
</div>
